body {
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  background: #222;
}

.section {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}
